* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
select
{
    margin: 3px;
    font-size: 15px;
}

option
{
    font-size: 15px;
    padding: 3px;
    height: 20px;
}
/* reused code */
.h25 {
    height: 25px;
}

.h30 {
    height: 30px;
}

.w30 {
    width: 30px;
}

.w40 {
    width: 40px;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w150 {
    width: 150px;
    margin: 3px;
}

.w200 {
    width: 200px;
}
.w250
{
    width: 250px;
}

label {
    font-weight: 600;
    margin: 3px;
}

.out-layer {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.map-section {
    width: 100%;
    height: 75%;
    background-color: #f0f0f1;
    transition: all .5s ease;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 170px;
    height: 50px;
    padding: 10px;
    margin-left: 20px;
    z-index: 999;
}

#table-for-results {
    position: relative;
    left: 50%;
    top: 85%;
    height: 30px;
    transform: translate(-50%, -75%);
    width: 500px;
    z-index: 1;
}

#table-for-results ul {
    list-style: none;
}

#table-for-results ul li {
    display: inline-block;
    line-height: 30px;
    margin-left: 5px;
    font-size: large;
}

#svg-map {

    height: 360px;
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

.down-navbar {
    width: 100%;
    height: 25%;
    background-color: #000033;
    transition: all .5s ease;
    z-index: 3;
}

#menu {
    width: 320px;
    height: 30px;
    float: right;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline-block;
    margin-left: 10px;
    text-transform: uppercase;
    padding: 5px;
}

#menu ul li a {
    color: lightyellow;
    text-decoration: none;
    font-weight: 600;
    padding: 5px;
    font-size: 16px;
}

#menu ul li a:hover {
    background-color: lightyellow;
    color: black;
    transition: 0.4s;
}

#menu ul li p {
    padding: 5px;
    color: lightyellow;
}

#menu ul li p:hover {
    background-color: lightyellow;
    color: black;
    transition: 0.4s;
}

.zone-data {
    position: absolute;
    display: none;
    height: 80px;
    width: 160px;
    z-index: 999999;
    background-color: #f5f0f0;
    color: black;
    box-shadow: 1px 1px rgb(181, 178, 172);
}

.zone-data ul {
    list-style: none;
    padding: 4px;
}

input:focus {
    outline: none;
}

#search {
    height: 30px;
    width: 320px;
    background-color: #fff;
    float: right;
    box-sizing: border-box;
    border-top: 1px solid black;
    display: none;
}

.search-back {
    float: left;
    height: 18px;
    width: 18px;
    margin-top: 6px;
    margin-left: 4px;
    cursor: pointer;
}

.search-form {
    float: left;
    width: 250px;
    height: 29px;
    border: none;
    margin-left: 12px;
}

.search-icon {
    height: 28px;
    width: 28px;
    float: right;
    margin-top: 1px;
    margin-right: 3px;
    cursor: pointer;
}

#close-down-navbar {
    cursor: pointer;
    float: left;
}

#open-down-navbar {
    display: none;
    float: right;
    cursor: pointer;
}

.footer {
    color: #fff;
}

footer {
    position: relative;
    left: 50%;
    top: -25px;
}

.search-detail {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    width: 80%;
    height: 100vh;
    z-index: 999999;
    background-color: #fff;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.top {
    width: 95%;
    background-color: hwb(0 100% 0%);
    color: black;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
}

.district-name {
    float: left;
}

.close-detail {
    float: right;
    cursor: pointer;
}

/* responsonsive break points */
@media screen and (max-width: 850px) {
    .main-map {
        height: 300px;
        width: 680px;
    }

    #search {
        width: 300px;
    }

    .search-form {
        width: 230px;
    }

    #menu {
        width: 300px;
    }

    #menu ul li a,
    #menu ul li p {
        font-size: 15px;
    }
}

@media screen and (max-width: 830px) {
    #svg-map {
        width: 700px;
    }
}

@media screen and (max-width: 725px) {
    .main-map {
        height: 295px;
        width: 600px;
    }

    .search-form {
        width: 220px;
    }

    #menu {
        width: 290px;
    }

    #menu ul li {
        margin-left: 8px;
    }

    #menu ul li {
        margin-left: 7px;
    }

    #menu ul li a,
    #menu ul li p {
        font-size: 14px;
    }

    #svg-map {
        height: 300px;
        width: 600px;
    }
}

@media screen and (max-width: 620px) {

    #svg-map {
        width: 500px;
        height: 290px;
    }
}

@media screen and (max-width: 515px) {

    #svg-map {
        width: 400px;
        height: 220px;
    }

    #table-for-results {
        top: 70%;
        width: 300px;
    }

    #table-for-results ul li {
        display: block;
    }
}

@media screen and (max-width: 425px) {

    #svg-map {
        width: 330px;
        height: 200px;
    }
}

@media screen and (max-width: 610px) {
    .main-map {
        width: 520px;

    }
}

@media screen and (max-width: 528px) {
    .main-map {
        width: 470px;
    }

}

@media screen and (max-width: 480px) {
    .main-map {
        width: 420px;
    }

    #map-svg {
        transform: translate(-120px, -10px) scale(0.7);
    }

}

@media screen and (max-width: 440px) {
    .main-map {
        width: 360px;
        height: 280px;
    }

}

@media screen and (max-width: 385px) {
    .main-map {
        width: 320px;
    }

    #map-svg {
        transform: translate(-120px, -10px) scale(0.61);
    }
}

/* css for populate.php */

.container {
    height: 100vh;
    width: 100%;
    background-color: #f0f0f1;
}

.login-panel {
    height: 310px;
    width: 600px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
}

#login-form {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
}

.form-control {
    width: 330px;
    height: 30px;
    padding: 5px;
    margin: 3px;
    border: none;
}


.show-error {
    color: red !important;
}

/* css for reponsive break for populate.php */

@media screen and (max-width: 670px) {
    .login-panel {
        height: 290px;
        width: 530px;
    }
}

@media screen and (max-width: 550px) {
    .login-panel {
        height: 285px;
        width: 490px;
    }

    #form-control {
        width: 300px;
        height: 27px;
        padding: 5px;
        margin: 3px;
        border: none;
    }
}

@media screen and (max-width: 500px) {
    .login-panel {
        height: 275px;
        width: 440px;
    }

    #form-control {
        width: 290px;
        height: 22px;
        padding: 5px;
        margin: 3px;
        border: none;
    }
}

/* css for login.php*/

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #56585b;
    position: fixed;
    left: -250px;
    top: 0px;
    border: 1px solid black;
    transition: all 0.5s ease;
    z-index: 999;
}

.sidebar header {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: grey;
    line-height: 50px;
    color: #fff;

}

.sidebar header h4 {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    color: #fff;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {

    border-bottom: 1px solid black;
    text-align: center;
    height: 40px;
    line-height: 40px;


}

.sidebar ul li a {
    color: #fff;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.sidebar ul li a:hover {
    transition: all .3s ease;
    padding-left: 30px;
}

i {
    margin-right: 10px;
}

.fa-rectangle-xmark {
    height: 30px;
    width: 30px;
    font-size: 20px;
    position: fixed;
    top: 15px;
    left: 205px;
    transition: all 1s ease-in;
    opacity: 0;
    z-index: 99;
    cursor: pointer;
}

.fa-bars {
    position: absolute;
    left: 20px;
    top: 19px;
    height: 22px;
    width: 30px;
    color: #fff;
    background-color: #0009;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 99;
    transition: all 0.3s ease;
}

.form-heading {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
    background-color: #09265F;
    height: 60px;
    width: 80%;
    text-align: center;
    line-height: 60px;
    color: #fff;
}

.form-div {
    position: relative;
    width: 80%;
    background-color: #fff;
    top: 60px;
    margin: auto;
    box-sizing: border-box;
}
#pro-code
{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}
#dis-code
{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}
#lvl-code
{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}
#acode
{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}
.form-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 98%;
    margin: 6px 6px;
}

.simple-row {
    width: 98%;
    margin: 6px 6px;
}

.first-name {
    float: left;
    width: 32%;
}

.middle-name {
    float: left;
    width: 35%;
}

.last-name {
    float: right;
    width: 32%;
}

.btn {
    background-color: #0A84C6;
    height: 35px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
}

.title {
    margin: 10px 0;
    background-color: grey;
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
}

.btn-div {
    height: 40px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.buffalo,
.goat,
.cow,
.sheep,
.yak,.pig {
    display: none;
}

.death-whole {
    display: none;
}

@media screen and (max-width: 760px) {
    .form-div {
        width: 100%;
    }

    .form-heading {
        width: 100%;
    }
}

@media screen and (max-width: 625px) {
    .form-row {
        flex-direction: column;
    }

    .form-row input {
        margin: 3px;
    }

    .first-name,
    .middle-name,
    .last-name {
        width: 100%;
    }

    .first-name input,
    .middle-name input,
    .last-name input {
        width: 98%;
        margin: 3px;
    }
}

.profile-div {
    height: 300px;
    width: 250px;
    background-color: black;
    margin-left: 250px;
    display: none;
}

/* admin.php css starts */



.admin-top-bar {
    width: 100%;
    height: 40px;
    background-color: #ffffe0;
    line-height: 40px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    z-index: 99999;
    position: absolute;
    left: 0;
    top: 0;
}

.admin-menu {
    float: right;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    display: none;
}

.main-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.counters {
    height: 100vh;
    width: 45%;
    float: left;
    overflow-y: scroll;
    transition: all .8s;
    scroll-behavior: smooth;
}
.logo-in-admin
{
    width: 140px;
    margin-left: 15px;
}

.add-counters {
    height: 500px;
    width: 50%;
    float: right;
}
.counter-register
{
    position: relative;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.formdiv
{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-10%);
}
.heading-counter
{
    position: fixed;
    z-index: 99999;
    top: 40px;
    width: inherit;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 2px solid burlywood;
    
}
.on-work
{
    float: left;
    margin-left: 10px;
    
}
.menu-
{
    float: right;
}
.list-counters
{
    position: relative;
    top: 90px;
}
#show-panel
{
    display: none;
}
.del-popup
{
    position: absolute;
    z-index: 9999999;
    width: 140px;
    height: 30px;
    background-color: rgb(238, 241, 238);
    box-sizing: .5px .5px rgb(176, 174, 174);
    line-height: 30px;
    color: black;
    text-align: center;
}
.main-list-counter
{
    height: 40px;
    width: 98%;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid black;
    
}

.id-counter
{
    width: 40px;
    height: 30px;
    background-color: green;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 30%;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}
.fullName-counter
{
    width: 200px;
    height: 30px;
    position: relative;
    top: 5px;
    padding-left: 30px;
    display: inline-block;
    cursor: pointer;
}
.heading-add
{
    height: 35px;
    position: relative;
    width: 200px;
    top: 50px;
    line-height: 40px;
    text-align: center;
    background-color: #56585b;
    margin: 0 auto;
    color: #fff;
}

/* responsive breakpoints */

@media screen and (max-width: 730px) {
    .counters 
    {
        margin-left: -1000px;
        width: 300px;
        background-color: #09265F;
        z-index: 9999;
        position: absolute;
        top: 0;
    }
    .add-counters
    {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
    }
    .logo-in-admin
    {
        margin-left: 0 auto;
    }
    #show-panel
    {
        display: block;
    }
    .on-work
    {
        position: absolute;
        color: #fff;
    }
    .admin-menu
    {
        display: block;
        background-color: #fff;
        position: relative;
        top: 15px;
        right: 10px;
        cursor: pointer;
    }
    .fa-circle-xmark
    {
        position: relative;
        bottom: 11px;
        left: 5px;
    }
}
/*login form profile style*/



.centerdiv {
    width: 540px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightyellow;
    box-shadow: 1.3px 1.4px #0009;
}




.centerdiv h2 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 2em;
    word-spacing: 10px;
    margin-top: -150px;
    margin-bottom: 50px;
    text-shadow: -2px 2px 1px #0A84C6;
}

.inputbox {
    width: 300px;
    height: 35px;
    display: block;
    box-sizing: border-box;
    border-radius: 0.5rem;
}


.submit-btn-1 {
    height: 35px;
    width: 100px;
    margin: 2px auto;
    border: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0.5rem;

}

@media screen and (max-width: 730px)
{
    .centerdiv
    {
        height: 290px;
        width: 500px;
    }
    .inputbox
    {
        width: 285px;
    }
    
}

@media screen and (max-width: 670px)
{
    .centerdiv
    {
        height: 280px;
        width: 480px;
    }
    .inputbox
    {
        width: 270px;
    }
}

@media screen and (max-width: 600px)
{
    .centerdiv
    {
        height: 270px;
        width: 450px;
    }
    .inputbox
    {
        width: 265px;
    }
}

@media screen and (max-width: 520px)
{
    .inputbox
    {
        width: 250px;
    }
    .container
    {
        background-color: lightyellow;
    }
    .centerdiv
    {
        box-shadow: none;
    }
    .logo
    {
        margin-top: 20px;
    }

}